[Desktop Entry]
Type=Application
Name=pgModeler
Comment=Data Modeler
Exec=/programs/pgmodeler/bin/pgmodeler
Icon=/programs/pgmodeler/share/pgmodeler/conf/pgmodeler_logo.png
Terminal=False