name: build-nurs6293-desktop

on:
  push:
    branches:
      - 'main'

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull repository
        uses: actions/checkout@v4

      - name: Update CURL
        run: sudo apt update && sudo apt install -y curl
        
      - name: Pull artifacts
        run: cd nurs6293_desktop && ./pull_artifacts.sh

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64, linux/arm64
          context: ./nurs6293_desktop
          push: true
          tags: andrew2hill/nurs6293_desktop:${{ github.ref_name }}
